<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.mapper.UserMapper">
    <insert id="insert">
        insert into users values(2, "李四", 20);
    </insert>

    <update id="update">
        update users set uname = "赵六" where uid = 3;
    </update>

    <delete id="delete">
        delete from users where uage = 18;
    </delete>

    <select id="select">
        select * from users where uid = 1;
    </select>
    
</mapper>