akshare==1.13.64
  akracer==0.0.13
  beautifulsoup4==4.12.3
    soupsieve==2.5
  decorator==5.1.1
  html5lib==1.1
    six==1.16.0
    webencodings==0.5.1
  jsonpath==0.82.2
  lxml==5.2.1
  openpyxl==3.1.2
    et-xmlfile==1.1.0
  pandas==2.2.2
    numpy==1.26.4
    python-dateutil==2.9.0.post0
      six==1.16.0
    pytz==2024.1
    tzdata==2024.1
  py-mini-racer==0.6.0
  requests==2.31.0
    certifi==2024.2.2
    charset-normalizer==3.3.2
    idna==3.7
    urllib3==2.2.1
  tabulate==0.9.0
  tqdm==4.66.4
  urllib3==2.2.1
  xlrd==2.0.1
camelot-py==0.11.0
  chardet==5.2.0
  click==8.1.7
  numpy==1.26.4
  openpyxl==3.1.2
    et-xmlfile==1.1.0
  pandas==2.2.2
    numpy==1.26.4
    python-dateutil==2.9.0.post0
      six==1.16.0
    pytz==2024.1
    tzdata==2024.1
  pdfminer.six==20231228
    charset-normalizer==3.3.2
    cryptography==42.0.7
      cffi==1.16.0
        pycparser==2.22
  pypdf==4.2.0
  tabulate==0.9.0
Elixir==0.7.1
  SQLAlchemy==0.7.10
Flask==3.0.3
  blinker==1.8.2
  click==8.1.7
  itsdangerous==2.2.0
  Jinja2==3.1.4
    MarkupSafe==2.1.5
  Werkzeug==3.0.3
    MarkupSafe==2.1.5
fqdn==1.5.1
ghostscript==0.7
  setuptools==69.5.1
isoduration==20.11.0
  arrow==1.3.0
    python-dateutil==2.9.0.post0
      six==1.16.0
    types-python-dateutil==2.9.0.20240316
JPype1==1.5.0
  packaging==24.0
jsonpointer==2.4
jupyterlab==4.2.0
  async-lru==2.0.4
  httpx==0.27.0
    anyio==4.3.0
      idna==3.7
      sniffio==1.3.1
    certifi==2024.2.2
    httpcore==1.0.5
      certifi==2024.2.2
      h11==0.14.0
    idna==3.7
    sniffio==1.3.1
  ipykernel==6.29.4
    comm==0.2.2
      traitlets==5.14.3
    debugpy==1.8.1
    ipython==8.24.0
      decorator==5.1.1
      jedi==0.19.1
        parso==0.8.4
      matplotlib-inline==0.1.7
        traitlets==5.14.3
      pexpect==4.9.0
        ptyprocess==0.7.0
      prompt-toolkit==3.0.43
        wcwidth==0.2.13
      Pygments==2.18.0
      stack-data==0.6.3
        asttokens==2.4.1
          six==1.16.0
        executing==2.0.1
        pure-eval==0.2.2
      traitlets==5.14.3
    jupyter_client==8.6.1
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      python-dateutil==2.9.0.post0
        six==1.16.0
      pyzmq==26.0.3
      tornado==6.4
      traitlets==5.14.3
    jupyter_core==5.7.2
      platformdirs==4.2.1
      traitlets==5.14.3
    matplotlib-inline==0.1.7
      traitlets==5.14.3
    nest-asyncio==1.6.0
    packaging==24.0
    psutil==5.9.8
    pyzmq==26.0.3
    tornado==6.4
    traitlets==5.14.3
  Jinja2==3.1.4
    MarkupSafe==2.1.5
  jupyter_core==5.7.2
    platformdirs==4.2.1
    traitlets==5.14.3
  jupyter-lsp==2.2.5
    jupyter_server==2.14.0
      anyio==4.3.0
        idna==3.7
        sniffio==1.3.1
      argon2-cffi==23.1.0
        argon2-cffi-bindings==21.2.0
          cffi==1.16.0
            pycparser==2.22
      Jinja2==3.1.4
        MarkupSafe==2.1.5
      jupyter_client==8.6.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        python-dateutil==2.9.0.post0
          six==1.16.0
        pyzmq==26.0.3
        tornado==6.4
        traitlets==5.14.3
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      jupyter-events==0.10.0
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        python-json-logger==2.0.7
        PyYAML==6.0.1
        referencing==0.35.1
          attrs==23.2.0
          rpds-py==0.18.1
        rfc3339-validator==0.1.4
          six==1.16.0
        rfc3986-validator==0.1.1
        traitlets==5.14.3
      jupyter_server_terminals==0.5.3
        terminado==0.18.1
          ptyprocess==0.7.0
          tornado==6.4
      nbconvert==7.16.4
        beautifulsoup4==4.12.3
          soupsieve==2.5
        bleach==6.1.0
          six==1.16.0
          webencodings==0.5.1
        defusedxml==0.7.1
        Jinja2==3.1.4
          MarkupSafe==2.1.5
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        jupyterlab_pygments==0.3.0
        MarkupSafe==2.1.5
        mistune==3.0.2
        nbclient==0.10.0
          jupyter_client==8.6.1
            jupyter_core==5.7.2
              platformdirs==4.2.1
              traitlets==5.14.3
            python-dateutil==2.9.0.post0
              six==1.16.0
            pyzmq==26.0.3
            tornado==6.4
            traitlets==5.14.3
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          nbformat==5.10.4
            fastjsonschema==2.19.1
            jsonschema==4.22.0
              attrs==23.2.0
              jsonschema-specifications==2023.12.1
                referencing==0.35.1
                  attrs==23.2.0
                  rpds-py==0.18.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
              rpds-py==0.18.1
            jupyter_core==5.7.2
              platformdirs==4.2.1
              traitlets==5.14.3
            traitlets==5.14.3
          traitlets==5.14.3
        nbformat==5.10.4
          fastjsonschema==2.19.1
          jsonschema==4.22.0
            attrs==23.2.0
            jsonschema-specifications==2023.12.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
            rpds-py==0.18.1
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          traitlets==5.14.3
        packaging==24.0
        pandocfilters==1.5.1
        Pygments==2.18.0
        tinycss2==1.3.0
          webencodings==0.5.1
        traitlets==5.14.3
      nbformat==5.10.4
        fastjsonschema==2.19.1
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        traitlets==5.14.3
      overrides==7.7.0
      packaging==24.0
      prometheus_client==0.20.0
      pyzmq==26.0.3
      Send2Trash==1.8.3
      terminado==0.18.1
        ptyprocess==0.7.0
        tornado==6.4
      tornado==6.4
      traitlets==5.14.3
      websocket-client==1.8.0
  jupyter_server==2.14.0
    anyio==4.3.0
      idna==3.7
      sniffio==1.3.1
    argon2-cffi==23.1.0
      argon2-cffi-bindings==21.2.0
        cffi==1.16.0
          pycparser==2.22
    Jinja2==3.1.4
      MarkupSafe==2.1.5
    jupyter_client==8.6.1
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      python-dateutil==2.9.0.post0
        six==1.16.0
      pyzmq==26.0.3
      tornado==6.4
      traitlets==5.14.3
    jupyter_core==5.7.2
      platformdirs==4.2.1
      traitlets==5.14.3
    jupyter-events==0.10.0
      jsonschema==4.22.0
        attrs==23.2.0
        jsonschema-specifications==2023.12.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
        referencing==0.35.1
          attrs==23.2.0
          rpds-py==0.18.1
        rpds-py==0.18.1
      python-json-logger==2.0.7
      PyYAML==6.0.1
      referencing==0.35.1
        attrs==23.2.0
        rpds-py==0.18.1
      rfc3339-validator==0.1.4
        six==1.16.0
      rfc3986-validator==0.1.1
      traitlets==5.14.3
    jupyter_server_terminals==0.5.3
      terminado==0.18.1
        ptyprocess==0.7.0
        tornado==6.4
    nbconvert==7.16.4
      beautifulsoup4==4.12.3
        soupsieve==2.5
      bleach==6.1.0
        six==1.16.0
        webencodings==0.5.1
      defusedxml==0.7.1
      Jinja2==3.1.4
        MarkupSafe==2.1.5
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      jupyterlab_pygments==0.3.0
      MarkupSafe==2.1.5
      mistune==3.0.2
      nbclient==0.10.0
        jupyter_client==8.6.1
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          python-dateutil==2.9.0.post0
            six==1.16.0
          pyzmq==26.0.3
          tornado==6.4
          traitlets==5.14.3
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        nbformat==5.10.4
          fastjsonschema==2.19.1
          jsonschema==4.22.0
            attrs==23.2.0
            jsonschema-specifications==2023.12.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
            rpds-py==0.18.1
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          traitlets==5.14.3
        traitlets==5.14.3
      nbformat==5.10.4
        fastjsonschema==2.19.1
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        traitlets==5.14.3
      packaging==24.0
      pandocfilters==1.5.1
      Pygments==2.18.0
      tinycss2==1.3.0
        webencodings==0.5.1
      traitlets==5.14.3
    nbformat==5.10.4
      fastjsonschema==2.19.1
      jsonschema==4.22.0
        attrs==23.2.0
        jsonschema-specifications==2023.12.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
        referencing==0.35.1
          attrs==23.2.0
          rpds-py==0.18.1
        rpds-py==0.18.1
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      traitlets==5.14.3
    overrides==7.7.0
    packaging==24.0
    prometheus_client==0.20.0
    pyzmq==26.0.3
    Send2Trash==1.8.3
    terminado==0.18.1
      ptyprocess==0.7.0
      tornado==6.4
    tornado==6.4
    traitlets==5.14.3
    websocket-client==1.8.0
  jupyterlab_server==2.27.1
    Babel==2.15.0
    Jinja2==3.1.4
      MarkupSafe==2.1.5
    json5==0.9.25
    jsonschema==4.22.0
      attrs==23.2.0
      jsonschema-specifications==2023.12.1
        referencing==0.35.1
          attrs==23.2.0
          rpds-py==0.18.1
      referencing==0.35.1
        attrs==23.2.0
        rpds-py==0.18.1
      rpds-py==0.18.1
    jupyter_server==2.14.0
      anyio==4.3.0
        idna==3.7
        sniffio==1.3.1
      argon2-cffi==23.1.0
        argon2-cffi-bindings==21.2.0
          cffi==1.16.0
            pycparser==2.22
      Jinja2==3.1.4
        MarkupSafe==2.1.5
      jupyter_client==8.6.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        python-dateutil==2.9.0.post0
          six==1.16.0
        pyzmq==26.0.3
        tornado==6.4
        traitlets==5.14.3
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      jupyter-events==0.10.0
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        python-json-logger==2.0.7
        PyYAML==6.0.1
        referencing==0.35.1
          attrs==23.2.0
          rpds-py==0.18.1
        rfc3339-validator==0.1.4
          six==1.16.0
        rfc3986-validator==0.1.1
        traitlets==5.14.3
      jupyter_server_terminals==0.5.3
        terminado==0.18.1
          ptyprocess==0.7.0
          tornado==6.4
      nbconvert==7.16.4
        beautifulsoup4==4.12.3
          soupsieve==2.5
        bleach==6.1.0
          six==1.16.0
          webencodings==0.5.1
        defusedxml==0.7.1
        Jinja2==3.1.4
          MarkupSafe==2.1.5
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        jupyterlab_pygments==0.3.0
        MarkupSafe==2.1.5
        mistune==3.0.2
        nbclient==0.10.0
          jupyter_client==8.6.1
            jupyter_core==5.7.2
              platformdirs==4.2.1
              traitlets==5.14.3
            python-dateutil==2.9.0.post0
              six==1.16.0
            pyzmq==26.0.3
            tornado==6.4
            traitlets==5.14.3
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          nbformat==5.10.4
            fastjsonschema==2.19.1
            jsonschema==4.22.0
              attrs==23.2.0
              jsonschema-specifications==2023.12.1
                referencing==0.35.1
                  attrs==23.2.0
                  rpds-py==0.18.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
              rpds-py==0.18.1
            jupyter_core==5.7.2
              platformdirs==4.2.1
              traitlets==5.14.3
            traitlets==5.14.3
          traitlets==5.14.3
        nbformat==5.10.4
          fastjsonschema==2.19.1
          jsonschema==4.22.0
            attrs==23.2.0
            jsonschema-specifications==2023.12.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
            rpds-py==0.18.1
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          traitlets==5.14.3
        packaging==24.0
        pandocfilters==1.5.1
        Pygments==2.18.0
        tinycss2==1.3.0
          webencodings==0.5.1
        traitlets==5.14.3
      nbformat==5.10.4
        fastjsonschema==2.19.1
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        traitlets==5.14.3
      overrides==7.7.0
      packaging==24.0
      prometheus_client==0.20.0
      pyzmq==26.0.3
      Send2Trash==1.8.3
      terminado==0.18.1
        ptyprocess==0.7.0
        tornado==6.4
      tornado==6.4
      traitlets==5.14.3
      websocket-client==1.8.0
    packaging==24.0
    requests==2.31.0
      certifi==2024.2.2
      charset-normalizer==3.3.2
      idna==3.7
      urllib3==2.2.1
  notebook_shim==0.2.4
    jupyter_server==2.14.0
      anyio==4.3.0
        idna==3.7
        sniffio==1.3.1
      argon2-cffi==23.1.0
        argon2-cffi-bindings==21.2.0
          cffi==1.16.0
            pycparser==2.22
      Jinja2==3.1.4
        MarkupSafe==2.1.5
      jupyter_client==8.6.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        python-dateutil==2.9.0.post0
          six==1.16.0
        pyzmq==26.0.3
        tornado==6.4
        traitlets==5.14.3
      jupyter_core==5.7.2
        platformdirs==4.2.1
        traitlets==5.14.3
      jupyter-events==0.10.0
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        python-json-logger==2.0.7
        PyYAML==6.0.1
        referencing==0.35.1
          attrs==23.2.0
          rpds-py==0.18.1
        rfc3339-validator==0.1.4
          six==1.16.0
        rfc3986-validator==0.1.1
        traitlets==5.14.3
      jupyter_server_terminals==0.5.3
        terminado==0.18.1
          ptyprocess==0.7.0
          tornado==6.4
      nbconvert==7.16.4
        beautifulsoup4==4.12.3
          soupsieve==2.5
        bleach==6.1.0
          six==1.16.0
          webencodings==0.5.1
        defusedxml==0.7.1
        Jinja2==3.1.4
          MarkupSafe==2.1.5
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        jupyterlab_pygments==0.3.0
        MarkupSafe==2.1.5
        mistune==3.0.2
        nbclient==0.10.0
          jupyter_client==8.6.1
            jupyter_core==5.7.2
              platformdirs==4.2.1
              traitlets==5.14.3
            python-dateutil==2.9.0.post0
              six==1.16.0
            pyzmq==26.0.3
            tornado==6.4
            traitlets==5.14.3
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          nbformat==5.10.4
            fastjsonschema==2.19.1
            jsonschema==4.22.0
              attrs==23.2.0
              jsonschema-specifications==2023.12.1
                referencing==0.35.1
                  attrs==23.2.0
                  rpds-py==0.18.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
              rpds-py==0.18.1
            jupyter_core==5.7.2
              platformdirs==4.2.1
              traitlets==5.14.3
            traitlets==5.14.3
          traitlets==5.14.3
        nbformat==5.10.4
          fastjsonschema==2.19.1
          jsonschema==4.22.0
            attrs==23.2.0
            jsonschema-specifications==2023.12.1
              referencing==0.35.1
                attrs==23.2.0
                rpds-py==0.18.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
            rpds-py==0.18.1
          jupyter_core==5.7.2
            platformdirs==4.2.1
            traitlets==5.14.3
          traitlets==5.14.3
        packaging==24.0
        pandocfilters==1.5.1
        Pygments==2.18.0
        tinycss2==1.3.0
          webencodings==0.5.1
        traitlets==5.14.3
      nbformat==5.10.4
        fastjsonschema==2.19.1
        jsonschema==4.22.0
          attrs==23.2.0
          jsonschema-specifications==2023.12.1
            referencing==0.35.1
              attrs==23.2.0
              rpds-py==0.18.1
          referencing==0.35.1
            attrs==23.2.0
            rpds-py==0.18.1
          rpds-py==0.18.1
        jupyter_core==5.7.2
          platformdirs==4.2.1
          traitlets==5.14.3
        traitlets==5.14.3
      overrides==7.7.0
      packaging==24.0
      prometheus_client==0.20.0
      pyzmq==26.0.3
      Send2Trash==1.8.3
      terminado==0.18.1
        ptyprocess==0.7.0
        tornado==6.4
      tornado==6.4
      traitlets==5.14.3
      websocket-client==1.8.0
  packaging==24.0
  tornado==6.4
  traitlets==5.14.3
opencv-contrib-python==4.9.0.80
  numpy==1.26.4
  numpy==1.26.4
  numpy==1.26.4
  numpy==1.26.4
  numpy==1.26.4
  numpy==1.26.4
pdfplumber==0.11.0
  pdfminer.six==20231228
    charset-normalizer==3.3.2
    cryptography==42.0.7
      cffi==1.16.0
        pycparser==2.22
  pillow==10.3.0
  pypdfium2==4.29.0
pipdeptree==2.19.1
  packaging==24.0
  pip==24.0
PyPDF2==2.1.0
sqlalchemy-migrate==0.11.0
  decorator==5.1.1
  pbr==6.0.0
  six==1.16.0
  SQLAlchemy==0.7.10
  sqlparse==0.5.0
  Tempita==0.5.2
tabula-py==2.9.0
  distro==1.9.0
  numpy==1.26.4
  pandas==2.2.2
    numpy==1.26.4
    python-dateutil==2.9.0.post0
      six==1.16.0
    pytz==2024.1
    tzdata==2024.1
uri-template==1.3.0
webcolors==1.13
xlwt==0.7.2
